#titleContainer{
    display: flex;
    justify-content: space-between;
}

#titleContainer > h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vw;
    height: 9vw;
    padding-left: 2%;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.filter {
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    margin-right: 2%;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.filterButton {
    background-image: url(../Iconer/filterBlack.svg);
    background-size: contain;
    width: 3vw;
    height: 3vw;
    border: none;
    margin: 1.5vw;
}

.filter-content {
    display: none;
    position: absolute;
    top: 4.5vw;
    right: 1.5vw;
    background-color: #2d2d2b;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.filter-content > button {
    color: #f6f5f2;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: none;
    text-align: right;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    display: block;
    
    width: 100%;
    height: 2vw;

    background-image: url(../Iconer/filterUC.svg);
    background-size: 15%;
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

.filter-content > .active{
        background-image: url(../Iconer/filterC.svg) !important;
    background-size: 15% !important;
    background-position: 5% 50% !important;
    background-repeat: no-repeat !important;
}

.filter-content button:hover {
    background-color: #343432;
}

.filter:hover .filter-content {
    display: block;
}


.articles{
    padding-top: 8vw;
    margin-top: -8vw;
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
}
.articles h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    line-height: 4.5vw;
    height: 9vw;
    padding-left: 2%;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}
.articles > .itemContainer{
    width: 100%;
    height: 35vw;
    background-color: white;
    box-shadow: 
        inset 0 11px 8px -10px #aaaaaa,    /*Fix to vh and vw*/
        inset 0 -11px 8px -10px #aaaaaa; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.articleItem{
    width: 20%;
    height: 25vw;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px #aaaaaa;
    position: relative;
}
.articleItem:hover{
    transform: scale(1.1);
}
.articleItem > .topic{
    background-color: #FF0800;
    border-radius: 6%;
    width: 40%;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f5f2;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1vw;
    margin-bottom: 1vw;

}
.articleItem > h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    width: 100%;
    height: 3.5vh;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.timeToRead > .icon{
    width: 1.2vw;
    height: 1.2vw;
}
.articleItem > .timeToRead{
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    width: 50%;
    height: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.articleItem > a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.articleItem > img{
    width: 100%;
    height: 12.5vw; 
    background-repeat: no-repeat;
    object-fit: cover;
}
#shoeArticleOne > img{
    background-image: url(../Bilder/collection/shoes/yeezy.png);
    background-size: 100%;
    background-position: 40% 70%;
}
#shoeArticleTwo > img{
    background-image: url(../Bilder/collection/shoes/benNJerrys.jpg);
    background-size: 100%;
    background-position: right;
}
#shoeArticleThree > img{
    background-image: url(../Bilder/collection/shoes/jordan.jpg);
    background-size: 120%;
    background-position: center;
}
#shoeArticleFour > img{
    background-image: url(../Bilder/collection/shoes/shoePile.jpg);
    background-size: 100%;
    background-position: center;
}

#gameArticleOne > img{
    background-image: url(../Bilder/collection/videoGames/ps5.jpg);
    background-size: cover;
    background-position: center;
}
#gameArticleTwo > img{
    background-image: url(../Bilder/collection/videoGames/xbox.jpg);
    background-size: cover;
    background-position: center;
}

#carArticleOne > img{
    background-image: url(../Bilder/collection/cars/911.jpg);
    background-size: 100%;
    background-position: 40% 70%;
}
#carArticleTwo > img{
    background-image: url(../Bilder/collection/cars/sportsCar.jpg);
    background-size: 100%;
    background-position: 40% 70%;
}
#carArticleThree > img{
    background-image: url(../Bilder/collection/cars/sportsCar2.jpg);
    background-size: 100%;
    background-position: 40% 70%;
}
#carArticleFour > img{
    background-image: url(../Bilder/collection/cars/classic.jpg);
    background-size: cover;
    background-position: center;
}

#musicArticleOne > img{
    background-image: url(../Bilder/collection/music/nav.jpg);
    background-size: 120%;
    background-position: center;
}
#musicArticleTwo > img{
    background-image: url(../Bilder/collection/music/power.jpg);
    background-size: 100%;
}
#musicArticleThree > img{
    background-image: url(../Bilder/collection/music/bruno.jpg);
    background-size: 100%;
}
#musicArticleFour > img{
    background-image: url(../Bilder/collection/music/brunoMars.jpg);
    background-size: 100%;
}

.unwanted{
    display: none;
}
@media only screen and (max-width: 600px){
    #titleContainer > h1{
    font-size: 7vw;
    height: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    }
    .filter {
    width: 10vw;
    height: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
    .filterButton {
    width: 5vw;
    height: 5vw;
    margin: 1.5vw;
}
    .filter-content {
    top: 9vw;
    right: 3vw;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    .filter-content > button {
    font-size: 2vw;
    width: 100%;
    height: 4vw;
}
    .articles{
    padding-top: 16vw;
    margin-top: -16vw;
    height: 150vw;
}
    .articles h1{
    font-size: 5vw;
    line-height: 9vw;
    height: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
    .articles > .itemContainer{
    height: 120vw;
    box-shadow: 
        inset 0 11px 8px -10px #aaaaaa,    /*Fix to vh and vw*/
        inset 0 -11px 8px -10px #aaaaaa; 
    display: flex;
    justify-content: space-around;
    align-items: center;
        flex-wrap: wrap;

}
    .articleItem{
    width: 40%;
    height: 50vw;
    box-shadow: 0 0 30px #aaaaaa;
}
    .articleItem > .topic{
    border-radius: 6%;
    width: 50%;
    height: 4vw;
    font-size: 2vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2vw;
    margin-bottom: 2vw;

}
    .articleItem > h2{
    font-size: 3vw;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    height: 7vh;
    margin-top: 1vw;
}
    .timeToRead > .icon{
    width: 2.4vw;
    height: 2.4vw;
}
    .articleItem > .timeToRead{
    margin-top: -2vw;
    margin-bottom: 0;
    width: 45%;
    height: 3vw;
    font-size: 2vw;
}
    .articleItem > img{
    height: 25vw; 
}
    
}